<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{contents}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>

  <form id="commentForm">
    <input
      type="text"
      id="commentInput"
      placeholder="Enter your comment here"
    />
    <button type="submit" class="btn btn-primary">Comment!</button>
  </form>
  {{#each comments as |comment|}}
    <p>
      {{comment.comment}}
    </p>
    <p>Created by
      {{comment.user.username}}
      on
      {{format_date comment.date_created}}</p>
  {{/each}}
</div>

<script src="/js/profile.js"></script>